{% extends "base.html.twig" %}

{% block title %}Modifier un projet
{% endblock %}

{% block body %}
	<div class="container">

		<div>
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button type="submit">
				<i class="fas fa-check"></i>
				Enregistrer les modifications
			</button>

			{{ form_end(form) }}
		</div>

			{{ include('admin/return.html.twig')}}
	</div>

{% endblock %}
