{% extends 'base.html.twig' %}

{% block title %}Développeur web Freelance à Besançon - Création de site internet – Parmentelot Bryan{% endblock %}

{% block body %}


<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Logo du site le bisontin du web " width="" height="">
<h1>hey</h1>
{{user.slogan}}
{{user.accroche}}
{{user.description}}


{% endblock %}
