{% extends 'base.html.twig' %}

{% block title %}Bienvenue ma gueule !{% endblock %}

{% block body %}


<h1 style="padding: 20px; margin:20px;"class="title is-4 has-centered has-background-success has-text-centered">Admin</h1>

<section class="section is-medium">
<p style="font-family: 'Poppins', sans-serif;" class="subtitle">Voici les differentes tables</p>


</section>


{% endblock %}
