{% extends "base.html.twig" %}

{% block title %}Modification des services
{% endblock %}

{% block body %}
	<div>

		<div>
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button type="submit">
				<i class="fas fa-check"></i>
				Enregistrer les modifications
			</button>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
